Creatin a list

In [ ]:
list=[1,2,3,4]
list
list1=[1,8,"sanya",8.0]

Sum Items in List

In [3]:
list=["sanya",1,3.4,"anmol"]
print("Original list :")
print(list)

#print("sum Items : ",sum(list))  it have multiple type of data so can not be a sum
list=[1,2,3,4,5]
print("sum Items : ",sum(list))

Original list :
['sanya', 1, 3.4, 'anmol']
sum Items :  15

Multiply Items in List

In [6]:
print("Multily :")
list=[1,2,3,4,5]
mul=1
for i in range(len(list)):
    mul*=list[i]
print(mul)

Multily :
120

 Get Largest Number in List

In [7]:
l=[23,4,5,89,1]
print("Max num :",max(l))

Max num : 89

In [10]:
max=0
for i in range(len(l)):
    if l[i]>max:
        max=l[i]
print("max without using inbuild function :",max)

max without using inbuild function : 89

Get Smallest Number in List

In [11]:
print("Min num :",min(l))

Min num : 1

In [12]:
min=l[0]
for i in range(len(l)):
    if l[i]<min:
        min=l[i]
print("Without using inbuild function :",min)

Without using inbuild function : 1

Count Strings with Same Start and End

In [24]:
List = ['abc', 'xyz', 'aba', '1221']
count=0
for i in range(len(List)):
    a=List[i]
    if a[0]==a[len(a)-1]:
            count+=1

print(count)

2

Sort Tuples by Last Element

In [38]:
List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list.sort()

 Remove Duplicates from List

In [39]:
l=[1,8,0,1,3,5]
s=set(l)
print(s)

{0, 1, 3, 5, 8}

Check if List is Empty

In [44]:
if len(l)==0:
    print("Empty")
else:
    print("not empty")

not empty

Find Words Longer Than n

In [45]:
n=int(input("enter the number :"))
list = ['abc', 'xyz', 'aba', '1221']
for i in range(len(list)):
    if len(list[i])>n:
        print(list[i])

1221

Check Common Member Between Two Lists

In [47]:
list1 = ['abc', 'xyz', 'aba', '1221']
list2 = ['abc', 'sanya', 'anmol', 'manya','1221']
for i in range(len(list1)):
    if list1[i] in list2:
        print("comman",list[i])

comman abc
comman 1221

Remove Specific Elements from List