Divisible by 7 and multiples of 5

In [18]:
n=[]
for i in range(1500,2700):
    if (i%7==0) and (i%5==0):
        n.append(i)
print(n)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

Temprature Converter

In [19]:
cel=float(input("enter the celsius value :"))
print(cel,"celsius =",cel*9/5+32)

60.0 celsius = 140.0

Number Guessing Game

In [9]:
import random 
r=random.randint(1,10)
for i in range(1,10):
    num=int(input("enter guess num :"))
    if r==num :
        print("Well Guessed ")
        break
    if i==9:
        print("now you have only last chance \n : ")
    print("try again ")

try again
try again
try again
try again
try again
Well Guessed

Diamond Pattern

In [22]:
for i in range(0,5):
    for j in range(0,i):
        print("*",end=" ")
    print("")
for i in range(-5,-1):
    for j in range (i,-1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * *
* * *
* *
*

Reverse a Word

In [25]:
string=input("Enter the String ")
print(string)
print(string[::-1])

sanya
aynas

Count even or odd num

In [29]:
number=(1,2,3,4,5,6,7,8,9)
counteven=0
countodd=0
for i in range(0,len(number)):
    if number[i]%2==0:
        counteven+=1
    else:
        countodd+=1
print("even num ",counteven,"\n odd num",countodd)

even num  4
 odd num 5

Items with type

In [31]:
a=({1,2,4},[8,0,5],("sanya ","anmol"),"sanya",7)
for i in range (0,len(a)):
    print(a[i],"=",type(a[i]))

{1, 2, 4} = <class 'set'>
[8, 0, 5] = <class 'list'>
('sanya ', 'anmol') = <class 'tuple'>
sanya = <class 'str'>
7 = <class 'int'>

Fibonacci Series

In [4]:
num=int(input("enter the num for febnacci Series  : "))
a,b,c=1,1,0
for i in range (0,num):
    print(c,end=" ")
    a=c#1,1
    c=c+b
    b=a#1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [17]:
list=[]
l=[]
dl=[]
for i in range(0,5):
    for j in range(0,10):
        list.append(i*j)
l.append([list])
print(l)

[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36]]]

output in lower case

In [19]:
string=input("enter any string :")
print("Original string is :",string)
print("Lowercase ",string.lower())

Original string is : SANYA
Lowercase  sanya

Filter 4-Digit Binary numbers Divisible by 5

In [12]:
n=int(input("How many num you want to take input ? Enter the num :"))
l1=[]
l2=[]
dec,j,k=0,0,0
for i in range(0,n):
    num1=int(input("Enter the binary num :"))
    l1.append(num1)
print(l1)
for num in l1:
    digits=num
    while num!=0:
        d=num%10
        num=int(num/10)
        dec+=(2**j)*d
        j=j+1
    l2.append(dec)
    if dec%5==0:
        print("divisible by 5 :",digits)
    dec=0
    j=0

[1010, 111]
divisible by 5 : 1010

Binary to Decimal

In [85]:
dec,n,k=0,0,0
num=int(input("Enter the binary num :"))
t=num
while num!=0:#1010
        d=num%10
        num=int(num/10)
        dec+=(2**n)*d
        n=n+1
print("Binary forom :",t,"Decimal form ",dec)

Binary forom : 111 Decimal form  7

Count digits and letters in a string

In [15]:
count_l,count_d,count_s=0,0,0
str=input("enter any mixed string : ")
for i in range(0,len(str)):
    if '9'>=str[i]>='0':
       count_d+=1
    elif 'a'<=str[i]>='z' or 'A'<=str[i]>='Z':
        count_l+=1
    else:
        count_s+=1
print("Original string : ",str)
print("Digits in string : ",count_d)
print("Letters in string : ",count_l)
print("Special word in string : ",count_s)

Original string :  sanya@123
Digits in string :  3
Letters in string :  5
Special word in string :  1

Password validity cheaker

In [ ]:
password=input("enter the password : ")
if 16>=len(password)>=6:
    for i in range (0,len(password)):
        if str is str['a']

Print A

In [3]:
for i in range(0,7):
    for j in range(0,5):
        if i==0:
            if j==0 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        else:
            if i==1 or i==2 or i==4 or i==5 or i==6:
                if j==1 or j==2 or j==3:
                    print(" ",end=" ")
                else:
                     print("*",end=" ")
            else:
                print("*",end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

Print D

In [7]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 or i==6:
            if j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ") 
        else:   
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

Print E

In [14]:
for i in range(0,7):
    for j in range(0,5):
        if i==1 or i==2 or i==4 or i==5:
            if j!=0 :
                print(" ",end=" ")
            else:
              print("*",end=" ")  
        else:
            print("*",end=" ")
        
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

Print F

In [15]:
for i in range(0,7):
    for j in range(0,5):
        if i==1 or i==2 or i==4 or i==5 or i==6:
            if j!=0 :
                print(" ",end=" ")
            else:
              print("*",end=" ")  
        else:
            print("*",end=" ")
        
    print()

* * * * *
*
*
* * * * *
*
*
*

Print L

In [17]:
for i in range(0,7):
    for j in range(0,5):
        if i==6:
           print("*",end=" ")
        else:
            if j!=0:
               print(" ",end=" ")
            else:
                 print("*",end=" ")
    print()

*
*
*
*
*
*
* * * * *

Print M

In [25]:
for i in range(0,7):
    for j in range(0,5):
        if i==0:
            if j==1 or j==2 or j==3:
                print(" ",end =" ")
            else:
                 print("*",end=" ")
        elif i==1:
            if j==2:
                print(" ",end =" ")
            else:
                print("*",end =" ")
        elif i==2:
            if j==1 or j==3:
                print(" ",end =" ")
            else:
                print("*",end =" ")
        else:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")

    print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *
*       *

Print O

In [31]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 or i==6:
            if j==0 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        else:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

Print P

In [38]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 or i==3:
            if j==4:
                print(" ",end=" ")
            else:
               print("*",end=" ") 
        elif i==1 or i==2:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        else: 
            if j!=0:
                print(" ",end=" ")
            else:
                print("*",end=" ")
    print()

* * * *
*       *
*       *
* * * *
*
*
*

Print R

In [39]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 or i==3:
            if j==4:
                print(" ",end=" ")
            else:
               print("*",end=" ") 
        elif i==1 or i==2:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==3:
            if j==0 or j==1:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==4:
            if j==0 or j==2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==5:
            if j==0 or j==3:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==6:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        
    print()

* * * *
*       *
*       *
* * * *
*   *
*     *
*       *

Print S

In [46]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 :
            if j==0 :
                print(" ",end=" ")
            else:
                print("*",end=" ")
        elif i==6:
            if j==4 :
                print(" ",end=" ")
            else:
                print("*",end=" ")
        elif i==3:
            if j==0 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        elif i==1 or i==2:
            if j==0:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        else:
            if j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")

        
    print()

  * * * *
*
*
  * * *
        *
        *
* * * *

Print T

In [47]:
for i in range(0,7):
    for j in range(0,5):
        if i==0:
           print("*",end=" ")
        else:
            if j!=2:
                print(" ",end=" ")
            else:
                print("*",end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

Print U

In [50]:
for i in range(0,7):
    for j in range(0,5):
        if i==0:
            print(" ",end=" ")
        elif i==6:
            if j==0 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        else:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
    print()

*       *
*       *
*       *
*       *
*       *
  * * *

Print X

In [60]:
for i in range(0,5):
    for j in range(0,5):
        if i==0:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==1:
            if j==0 or j==2 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        elif i==2:
            if j==2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==3:
            if j==0 or j==2 or j==4:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        elif i==4:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
    
    print()

*       *
  *   *
    *
  *   *
*       *

Print Z

In [65]:
for i in range(0,7):
    for j in range(0,5):
        if i==0 or i==5:
            print("*",end=" ")
        elif i==1:
            if j==4:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==2:
            if j==3:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==3:
            if j==2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        elif i==4:
            if j==1:
                print("*",end=" ")
            else:
                print(" ",end=" ")

    print()

* * * * *
        *
      *
    *
  *
* * * * *

## Dog age in dog years
  
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [74]:
#2*10.5+13*4
dog_age=int(input("Enter the dog's age :"))
print(" dog's age :",dog_age)
if dog_age>2:
    print("The dog's age in dog's year is :",21+(dog_age-2)*4)
elif dog_age==1:
    print("The dog's age in dog's year is :",10.5)
else:
    print("The dog's age in dog's year is :",21)

 dog's age : 15
The dog's age in dog's year is : 73

Vowel and consonant checker

In [78]:
letter=input("Enter a letter of Alphabet :")
if letter=='a' or letter=='o' or letter=='u' or letter=='i' or letter=='e' or letter=='A' or letter=='O' or letter=='U' or letter=='I' or letter=='E':
    print(letter," is a Vowel")
else:
    print(letter," is a Consonant")

A  is a Vowel

Month Name to Number of Days

In [85]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December ")
month_name=input("input the name of month :")
if month_name=='January':
    print("No of days : 31")
elif month_name=='February':
    print("No of days : 28/29")
elif month_name=='March':
    print("No of days : 31")
elif month_name=='April':
    print("No of days : 30")
elif month_name=='May':
    print("No of days : 31")
elif month_name=='June':
    print("No of days : 30")
elif month_name=='July':
    print("No of days : 31")
elif month_name=='August':
    print("No of days : 31")
elif month_name=='September':
    print("No of days : 30")
elif month_name=='October':
    print("No of days : 31")
elif month_name=='November':
    print("No of days : 30")
elif month_name=='December':
    print("No of days : 31")
else:
    if 'Z'>=month_name[0]>='A':
        print("first letter is Always Captal letter ")
    else:
        print("Your month name is wrong ")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Your month name is wrong

Triangle Type Checker

In [88]:
a=int(input("Enter lengths of triangle sides \n"))
b=int(input())
c=int(input())
print("Given sides : ",a,b,c)
if a==b and b==c:
    print("equilateral triangle")
elif a!=b!=c:
    print("scalene triangle")
else:
    print(" isosceles triangle")

Given sides :  1 2 2
 isosceles triangle

Median of Three Values

In [91]:
a=int(input("enter three values : \n"))
b=int(input())
c=int(input())
print("Given Values : ",a,b,c)
if a>b>c:
        print("median is :",a)
elif b>a>c:
        print("median is :",b)
else:
    print("median is :",c)

Given Values :  25 65 55
median is : 55