Pandas problem

Creating a Series

In [6]:
import pandas as pd
a=(1,2,3,4,5)#tuple
print("using tuple:\n",pd.Series(a))
b=[9,6,3,2]#list
print("using list\n",pd.Series(b))
c={1:"sanya",2:"Anmol"}
print("Using dict  :\n",pd.Series(c))

using tuple:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
using list
 0    9
1    6
2    3
3    2
dtype: int64
Using dict  :
 1    sanya
2    Anmol
dtype: object

Series to List Conversion

In [8]:
a=[1,2,3,4]
s=pd.Series(a)
b=list(a)
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>

Series Arithmetic

In [15]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 9])
print("Add :\n",a+b)
print("Subtract :\n",a-b)
print("Multiple :\n",a*b)
print("Divide :\n",a/b)

Add :
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract :
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiple :
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide :
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Series Comparison

In [19]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 10])
print("Equal:",a==b)
print("greter then :\n",a>b)
print("less then :\n",a<b)
print("greter then equal :\n",a>=b)
print("less then equal :\n",a<=b)

Equal: 0    False
1    False
2    False
3    False
4     True
dtype: bool
greter then :
 0     True
1     True
2     True
3     True
4    False
dtype: bool
less then :
 0    False
1    False
2    False
3    False
4    False
dtype: bool
greter then equal :
 0    True
1    True
2    True
3    True
4    True
dtype: bool
less then equal :
 0    False
1    False
2    False
3    False
4     True
dtype: bool

Dict to Series

In [20]:
dict={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
se=pd.Series(dict)
se

a    100
b    200
c    300
d    400
e    800
dtype: int64

 Array to Series

In [22]:
arr=[10,20,30, 40,50]
print(pd.Series(arr))

0    10
1    20
2    30
3    40
4    50
dtype: int64

Change Series DataType

In [29]:
s=pd.Series([100,200,"Python",300.12,400])
print("Original Series :")
print(s)
print("Change the said data type to numeric")
c=pd.to_numeric(s,errors='coerce')
print(c)

Original Series :
0       100
1       200
2    Python
3    300.12
4       400
dtype: object
Change the said data type to numeric
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

DF Column to Series

In [36]:
data=pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
print("Datafarme :\n",data)
print("1st column as series :\n")
print(pd.Series(data['col1']))

Datafarme :
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
1st column as series :

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

Series to Array

In [39]:
a=pd.Series([1,2,3,4])
print("Original series : \n")
print(a)
print("Series to Array \n")
arr=a.values
print(arr)

Original series :

0    1
1    2
2    3
3    4
dtype: int64
Series to Array

[1 2 3 4]

Flatten Series of Lists

In [42]:
A=pd.Series({0:['Red','Green','White'],1:['Red','Green'],2:['Yellow']})
print("Original Series :\n",A)
print("One Series ")
b=A.values
print(b)

Original Series :
 0    [Red, Green, White]
1           [Red, Green]
2               [Yellow]
dtype: object
One Series
[list(['Red', 'Green', 'White']) list(['Red', 'Green']) list(['Yellow'])]