Calculate string length.

In [3]:
name=input("enter the string :")
print(name,": length = ",len(name))

sanya katiyar : length =  13

Count character frequency in a string.

In [14]:
str=input("enter string : ")
c=0
for i in range(0,len(str)):
    if str[i] in str:
        print(str[i],":",str.count(str[i]))

s : 1
a : 2
n : 1
y : 1
a : 2

Get string of first and last 2 chars.

In [21]:
str=input("enter string : ")
print("Original string : ",str)
print(str[0:2]+str[-2:])

Original string :  sanya katiyar
saar

 Replace first char occurrences with $.

In [28]:
str=input("enter string : ")
print("Original string : ",str)
char=str[0]
str1=str.replace(char,'$')
print(char+str1[1:])

Original string :  sanyas
sanya$

Swap first 2 chars of 2 strings.

In [31]:
str1=input("enter string : ")
print("Original string : ",str1)
str2=input("enter string : ")
print("Original string : ",str2)
print(str1.replace(str1[:2],str2[:2]))
print(str2.replace(str2[:2],str1[:2]))

Original string :  xyz
Original string :  abc
abz
xyc

 Replace 'not'...'poor' with 'good'.

In [ ]:
str="The lyrics is not that poor!"
print(str.replace('not','').replace('poor','good').replace('that',''))

The lyrics is   good!

Find longest word in a list

In [49]:
str=input("enter string : ")
print("Original string : ",str)
count=0
countmax=0
word=str.split()
for i in word:
    count=len(i)
    if countmax<count:
        countmax=count
print(countmax)

Original string :  sanya katiyar from BCA department
10

Remove nth character from a string.

In [51]:
str=input("enter string : ")
print("Original string : ",str)
num=int(input("Enter the index num which you want to delete :"))
print(str.replace(str[num],""))

Original string :  sanya
saya

Swap first and last chars of a string.

In [57]:
str=input("enter string : ")
print("Original string : ",str)
n=len(str)-1
print(str[n]+str[1:n]+str[0])

Original string :  1234
4231

Remove odd index chars from a string.

In [69]:
str=input("enter string : ")
print("Original string : ",str)
str1=str
for i in range(0,len(str)):
    if i%2!=0:
        str1=str1.replace(str[i],'abc')
print(str1)

Original string :  pqrstuvwx
pabcrabctabcvabcx

Count word occurrences in a sentence.

In [77]:
str=input("enter string : ")
print("Original string : ",str)
word=str.split()
for i in range(0,len(word)):
    if word[i] in str:
        print(word[i],":",str.count(word[i]))

Original string :  the quick brown fox jumps over the lazy dog.
the : 2
quick : 1
brown : 1
fox : 1
jumps : 1
over : 1
the : 2
lazy : 1
dog. : 1

Display input in upper and lower case

In [78]:
str=input("enter string : ")
print("Original string : ",str)
print("String in Upper case : ",str.upper())
print("string in lower case :",str.lower())

Original string :  Sanya Katiyar
String in Upper case :  SANYA KATIYAR
string in lower case : sanya katiyar

Sort distinct words in comma-separated input.

In [83]:
str=input("enter diffrent word : ")
print("Original string : ",str)
str1=str.split()
print(sorted(list(set(str1))))

Original string :  sanya is a
['a', 'is', 'sanya']

Repeat last 2 chars of a string 4 times.

In [87]:
str=input("enter string : ")
print("Original string : ",str)
print(str+str[-2:]+str[-2:]+str[-2:])

Original string :  sanya
sanyayayaya

Get substring before a specific character.

In [5]:
str=input("enter string : ")
print("Original string : ",str)
for i in range(0,len(str)):
    if 'z'>=str[i]>='a' or 'Z'>=str[i]>='A':
        print(str[i],end="")
    else:
        break

Original string :  Sanya@2008
Sanya

In [88]:
str=input("enter string : ")
print("Original string : ",str)
print(str.rsplit('$'))

Original string :  san$ya
['san', 'ya']

Reverse string if length is a multiple of 4

In [92]:
str=input("enter string : ")
print("Original string : ",str)
if len(str)%4==0:
    print(str[::-1])

Original string :  sanyakat
takaynas

Uppercase string if 2+ uppercase chars in first 4.

In [17]:
str=input("enter string : ")
count=0
print("Original string : ",str)
if len(str)>=4:
    for i in range(0,5):
        if 'Z'>=str[i]>='A':
            count=count+1
            if count>=2:
                print("Uppercase string :",str.upper())
                break
else:
    for i in range(0,len(str)):
        if 'Z'>=str[i]>='A':
            count=count+1
            if count>=2:
                print("Uppercase string :",str.upper())
                break

Original string :  SAhdutisnShru
Uppercase string : SAHDUTISNSHRU

 Sort string lexicographically.

In [19]:
str=input("enter string : ")
print("Original string : ",str)
sorted(str)

Original string :  sanya

['a', 'a', 'n', 's', 'y']

Check if string starts with specified chars

In [29]:
str=input("enter string : ")
print("Original string : ",str)
if 'Z'>=str[0]>='A' or 'z'>=str[0]>='a':
    print("String not start with specified char")
else:
    print("start with specified char :",str[0])

Original string :  @sanya katiyar
start with specified char : @

Display formatted text (width=50).

In [36]:
import textwrap
str=input("enter string : ")
print("Original string : ",str)
print(textwrap.fill(str,width=100))
print()

Original string :  sanya
sanya

Print area (rectangle) and volume (cylinder)

In [ ]:
import math
# area of rectangle 
w=int(input("width of rectangle : "))
h=int(input("hight of rectangle : "))
print("Area of rectangle is : ",(w*h))
#Volume of cylinder
phi=3.14
r=int(input("Enter the radious of cylinder : "))
h=int(input("Enter the hight of Cylinder : "))
print("Volume of Cylinder : ",(phi*r*r*h))

Area of rectangle is :  408
Volume of Cylinder :  37.68

Find character indices in string.

In [7]:
str=input("enter the String : ")
for i in range(len(str)):
    print("Current char ",str[i],"Position is ",i)

Current char  s Position is  0
Current char  a Position is  1
Current char  n Position is  2
Current char  y Position is  3
Current char  a Position is  4

Check if string has all alphabet letters

In [15]:
#str=input("enter the string : ")
import string
str=input("enter string")
alphabet = set(string.ascii_lowercase)
print(set(str.lower())>=alphabet)

True

Convert string to list of words

In [17]:
str=input("Enter the string")
print(str.split(" "))

['sanya', 'katiyar', 'is', 'a', 'bca', 'student', 'at', 'BBAU', 'amethi']

Lowercase first n characters of string

In [22]:
str=input("Enter the string : ")
n=int(input("Enter the n number : "))
print("Original strig : ",str)
print(str[:n].lower()+str[n:])

Original strig :  SANYA KATIYAR
sanYA KATIYAR

Swap commas and dots in a string.

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)
if ',' in str :
    str1=str.replace(',','')
    if '.' in str1 :
         print(str1.replace('.',''))
    else :
         print(str1)

else:
     print(str.replace('.',''))

Original strig :  sanya,katiyar.kdhg
sanyakatiyarkdhg

Count and display the vowels of a given text

In [36]:
str=input("Enter the string : ")
print("Original  strig : ",str)
vowels = "aeiuoAEIOU"
print(len([letter for letter in str if letter in vowels]))
print([letter for letter in str if letter in vowels])

Original  strig :  sanya katiyr
4
['a', 'a', 'a', 'i']

Find first non-repeating character.

In [2]:
#str=input("Enter the string : ")
#print("Original strig : ",str)
for i in range(68,100):
    st=str(i)
    print(st)

68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)

In [ ]:
str=input("Enter the string : ")
print("Original strig : ",str)